* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark-blue: hsl(207, 26%, 17%);
  --color-very-dark-blue: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--color-very-light-gray);
}

.header {
  position: fixed;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  font-size: 1.8rem;
  background-color: var(--color-white);
  box-shadow: 1px 1px 4px var(--color-dark-gray);
  margin-bottom: 4rem;

  top: 0;
}

.search__country {
  padding: 0 2rem;
}

.search__country__form {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search__input__block {
  height: 4rem;
  background-color: var(--color-white);
}

.search__submit {
  height: 100%;
  border: none;
  background-color: var(--color-white);
  padding: 0.4rem 1rem;
}

.search__input {
  height: 100%;
  width: 70%;
  border: none;
}

.search__select__region {
  height: 4rem;
  width: 60%;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 1px 1px 4px var(--color-dark-gray);
}

.result {
  margin-top: 0 4rem;
  padding: 4rem;
}

.result #countries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.result #countries li {
  margin-top: 4rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 0.6rem 0.6rem;
}

.country__button {
  width: 100%;
  border: none;
  background-color: rgba(0,0,0,0);
}

.country__flag img {
  width: 100%;
  border-radius: 0.6rem 0.6rem 0 0;
}

.country__description {
  padding: 1rem 1.4rem;
  display: flex;
  flex-direction: column;
}

.country__description h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.country__description span {
  font-size: 1.6rem;
  margin-top: 0.6rem;
}