* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark-blue: hsl(207, 26%, 17%);
  --color-very-dark-blue: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  position: relative;
  padding-top: 12rem;
  background-color: var(--color-very-light-gray);
}

.box-shadow {
  box-shadow: 1px 1px 4px var(--color-dark-gray);
}

.header {
  position: fixed;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  font-size: 1.8rem;
  background-color: var(--color-white);
  margin-bottom: 4rem;

  z-index: 10;
  top: 0;
}

.search__country {
  padding: 0 2rem;
}

.search__country__form {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search__input__block {
  height: 4rem;
  background-color: var(--color-white);
}

.search__submit {
  height: 100%;
  border: none;
  background-color: var(--color-white);
  padding: 0.4rem 1rem;
}

.search__input {
  height: 100%;
  width: 70%;
  border: none;
}

.search__select__region {
  height: 4rem;
  width: 60%;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
}

.result {
  margin-top: 0 4rem;
  padding: 4rem;
}

.result.off {
  display: none;
}

.result #countries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.result #countries li {
  margin-top: 4rem;
  border-radius: 0 0 0.6rem 0.6rem;
  background-color: var(--color-white);
}

.country__button {
  width: 100%;
  border: none;
  background-color: rgba(0,0,0,0);
}

.country__flag img {
  width: 100%;
  border-radius: 0.6rem 0.6rem 0 0;
}

.country__description {
  padding: 1rem 1.4rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.country__description h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.country__description span {
  font-size: 1.6rem;
  margin-top: 0.6rem;
}

.detail__container {
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.7s;
}

.detail__container.on {
  width: 100vw;
  padding: 3rem;
  background-color: var(--color-very-light-gray);
  transform: translateY(0%);
  z-index: 5;
}

.detail__container .country__description {
  width: 100%;
  padding: 4rem 0;
}

.border__countries strong {
  font-size: 2rem;
}

.border__countries .buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.border__countries button {
  height: 4rem;
  border: none;
  background-color: var(--color-white);
  margin: 0.6rem;
  padding: 1rem;
}