#detail__container {
  position: absolute;
  width: 100vw;
  padding: 3rem;
  display: flex;
  flex-direction: column;

  background-color: var(--background-color);

  transform: translateY(-150%);
  transition: transform 0.8s;

  #back-detail {
    @extend .button, .box-shadow;
    width: 40%;
    max-width: 232px;
  }
}

#detail__container.on {
  transform: translateY(0%);
  .error {
    font-size: 2rem;
    color: red;
  }
}

#detail {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  align-self: center;

  .flag__container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;

    #detail-flag {
      width: 100%;
      min-width: 200px;
    }
  }

  .country__name {
    font-size: 2.4rem;
  }

  .country__content {
    padding: 0;
  }

  .country__detail {
    font-size: 1.6rem;
    line-height: 2.6rem;

    .block {
      margin-right: 2rem;
    }
  }

  .border__countries {
    font-size: 1.6rem;
    margin-top: 1rem;
    .border__country {
      @extend .button, .box-shadow;
      margin: 0.4rem;
    }
  }
}

@media (min-width: 600px) {
  #detail {
    min-height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .country__detail {
      display: flex;
      justify-content: space-between;
    }

    .country__content {
      height: 100%;
    }
  }

  @media (min-width: 800px) and (max-height: 750px) {
    #detail {
      flex-direction: row;
      justify-content: start;
      align-items: start;
      .flag__container {
        height: 100%;
        margin: 0;
        margin-right: 4rem;
  
        #detail-flag {
          width: inherit;
          height: 100%;
        }
      }
    }
  }
}


