#header {
  @extend .element-color;
  position: fixed;
  width: 100vw;
  height: 8rem;

  padding: 1.4rem 4rem;
  font-size: 1.8rem;
  margin-bottom: 4rem;

  z-index: 10;
  top: 0;
}

#search__section {
  width: 90vw;
  margin: 0 auto;

  .search__country__form {
    @extend .border-radius, .element-color;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
  }

  .search__submit {
    @extend .input-focus;
    height: 100%;
    border: none;
    
    padding: 0.6rem 1.4rem;
    margin-right: 0.4rem;
    background-color: transparent;
    cursor: pointer;
    
    .submit__icon {
      height: 100%;
      max-height: 2.6rem;
    }
  }

  .search__input__block {
    width: 100%;
    border: none;

    .search__input {
      @extend .input-focus;
      width: 100%;
      height: 5rem;
      border: none;
      padding: 0 1rem;
      color: var(--input-text);
      background-color: transparent;
    }

    .search__input::placeholder {
      color: var(--input-text);
    }

    .error {
      &::-webkit-input-placeholder {
        color: rgb(223, 95, 95);
      }
      &::-moz-placeholder {
        color: rgb(223, 95, 95);
      }
      &:-moz-placeholder {
        color: rgb(223, 95, 95);
      }

      &:focus {
        border: 1px solid red;
      }
    }
  }

  .search__select__region {
    @extend .input-focus, .border-radius, .element-color;
    height: 5rem;
    width: 60%;
    border: none;
    padding: 0 1.6rem;
    color: var(--input-text);
    cursor: pointer;
  }
}

#result {
  width: 90vw;
  margin: 0 auto;
  margin-top: 4rem;

  #countries {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, 26rem);
    justify-content: center;
    list-style: none;
  }

  

  #page {
    display: none;
    margin: 2rem 0;
  }

  #page.on {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #page__number {
    font-size: 1.6rem;
  }

  #back__page,
  #next__page {
    @extend .input-focus;
    width: 8rem;
    height: 4rem;
    border: none;
    color: var(--text-color);

    &:disabled {
      opacity: 0.4;
    }
  }
}

#result.off {
  display: none;
}

@media (min-width: 600px) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #search__section {
    display: flex;
    justify-content: space-between;

    .search__country__form {
      width: 40vw;
    }

    .search__select__region {
      width: 18vw;
    }
  }
}
