* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  --font-size: 62%;
  --color-elements: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --input-text: hsl(0, 0%, 52%);
  --background-color: hsl(0, 0%, 95%);
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text-color);
  font-size: var(--font-size);
}

body {
  padding-top: 12rem;
  background-color: var(--background-color);
  overflow-x: hidden;
  -webkit-transition: background-color linear 0.4s;
  transition: background-color linear 0.4s;
}

.element-color, .button, #detail__container #back-detail, #detail .border__countries .border__country, .preview, #header, #search__section .search__country__form, #search__section .search__select__region {
  background-color: var(--color-elements);
  -webkit-transition: background-color linear 0.6s;
  transition: background-color linear 0.6s;
}

.box-shadow, .preview, #detail__container #back-detail, #detail .border__countries .border__country, .header__dark__mode label {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.border-radius, .preview, .preview .flag__container, #search__section .search__country__form, #search__section .search__select__region {
  border-radius: 0.5rem;
}

.input-focus:focus-within, .button:focus-within, #detail__container #back-detail:focus-within, #detail .border__countries .border__country:focus-within, .preview:focus-within, #search__section .search__submit:focus-within, #search__section .search__input__block .search__input:focus-within, #search__section .search__select__region:focus-within, #result #back__page:focus-within,
#result #next__page:focus-within {
  border: 2px var(--text-color) solid;
}

.button, #detail__container #back-detail, #detail .border__countries .border__country {
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 1rem;
  cursor: pointer;
}

.button:hover, #detail__container #back-detail:hover, #detail .border__countries .border__country:hover {
  background-color: var(--input-text);
  color: var(--background-color);
}

.preview {
  height: 100%;
}

.preview .flag__container {
  width: 100%;
  height: 16rem;
}

.preview .preview__flag {
  height: 100%;
  width: 100%;
  border-radius: 0.6rem 0.6rem 0 0;
}

.preview .country__content {
  width: 100%;
  padding: 2.6rem 2.4rem 4rem 2.4rem;
  text-align: left;
  color: var(--text-color);
}

.preview .country__content .country__name {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  border-radius: 2rem;
}

.preview .country__content .country__detail {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.preview .preview__button {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  background-color: transparent;
}

.preview:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: -webkit-transform linear 0.2s;
  transition: -webkit-transform linear 0.2s;
  transition: transform linear 0.2s;
  transition: transform linear 0.2s, -webkit-transform linear 0.2s;
}

#detail__container {
  position: absolute;
  width: 100vw;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--background-color);
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

#detail__container #back-detail {
  width: 40%;
  max-width: 232px;
}

#detail__container.on {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

#detail__container.on .error {
  font-size: 2rem;
  color: red;
}

#detail {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
  -ms-flex-item-align: center;
      align-self: center;
}

#detail .flag__container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
}

#detail .flag__container #detail-flag {
  width: 100%;
  min-width: 200px;
}

#detail .country__name {
  font-size: 2.4rem;
}

#detail .country__content {
  padding: 0;
}

#detail .country__detail {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

#detail .country__detail .block {
  margin-right: 2rem;
}

#detail .border__countries {
  font-size: 1.6rem;
  margin-top: 1rem;
}

#detail .border__countries .border__country {
  margin: 0.4rem;
}

@media (min-width: 600px) {
  #detail {
    min-height: 32rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #detail .country__detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #detail .country__content {
    height: 100%;
  }
}

@media (min-width: 600px) and (min-width: 800px) and (max-height: 750px) {
  #detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  #detail .flag__container {
    height: 100%;
    margin: 0;
    margin-right: 4rem;
  }
  #detail .flag__container #detail-flag {
    width: inherit;
    height: 100%;
  }
}

#header {
  position: fixed;
  width: 100vw;
  height: 8rem;
  padding: 1.4rem 4rem;
  font-size: 1.8rem;
  margin-bottom: 4rem;
  z-index: 10;
  top: 0;
}

#search__section {
  width: 90vw;
  margin: 0 auto;
}

#search__section .search__country__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

#search__section .search__submit {
  height: 100%;
  border: none;
  padding: 0.6rem 1.4rem;
  margin-right: 0.4rem;
  background-color: transparent;
  cursor: pointer;
}

#search__section .search__submit .submit__icon {
  height: 100%;
  max-height: 2.6rem;
}

#search__section .search__input__block {
  width: 100%;
  border: none;
}

#search__section .search__input__block .search__input {
  width: 100%;
  height: 5rem;
  border: none;
  padding: 0 1rem;
  color: var(--input-text);
  background-color: transparent;
}

#search__section .search__input__block .search__input::-webkit-input-placeholder {
  color: var(--input-text);
}

#search__section .search__input__block .search__input:-ms-input-placeholder {
  color: var(--input-text);
}

#search__section .search__input__block .search__input::-ms-input-placeholder {
  color: var(--input-text);
}

#search__section .search__input__block .search__input::placeholder {
  color: var(--input-text);
}

#search__section .search__input__block .error::-webkit-input-placeholder {
  color: #df5f5f;
}

#search__section .search__input__block .error::-moz-placeholder {
  color: #df5f5f;
}

#search__section .search__input__block .error:-moz-placeholder {
  color: #df5f5f;
}

#search__section .search__input__block .error:focus {
  border: 1px solid red;
}

#search__section .search__select__region {
  height: 5rem;
  width: 60%;
  border: none;
  padding: 0 1.6rem;
  color: var(--input-text);
  cursor: pointer;
}

#result {
  width: 90vw;
  margin: 0 auto;
  margin-top: 4rem;
}

#result #countries {
  display: -ms-grid;
  display: grid;
  grid-gap: 4rem;
  -ms-grid-columns: (26rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 26rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

#result #page {
  display: none;
  margin: 2rem 0;
}

#result #page.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#result #page__number {
  font-size: 1.6rem;
}

#result #back__page,
#result #next__page {
  width: 8rem;
  height: 4rem;
  border: none;
  color: var(--text-color);
}

#result #back__page:disabled,
#result #next__page:disabled {
  opacity: 0.4;
}

#result.off {
  display: none;
}

@media (min-width: 600px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #search__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #search__section .search__country__form {
    width: 40vw;
  }
  #search__section .search__select__region {
    width: 18vw;
  }
}

.mode {
  width: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__dark__mode {
  width: 80px;
  height: 24px;
  background: var(--background-color);
  margin: 0.4rem auto;
  position: relative;
  border-radius: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__dark__mode:after {
  content: 'OFF';
  color: var(--text-color);
  position: absolute;
  right: 10px;
  z-index: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.header__dark__mode:before {
  content: 'ON';
  color: var(--text-color);
  position: absolute;
  left: 10px;
  z-index: 0;
  font-size: 1.2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__dark__mode label {
  display: block;
  width: 34px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: var(--color-elements);
  border-radius: 1rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__dark__mode input[type=checkbox] {
  visibility: hidden;
}

.header__dark__mode input[type=checkbox]:checked + label {
  left: 43px;
}
/*# sourceMappingURL=main.css.map */