* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  --font-size: 62%;
  --color-elements: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --input-text: hsl(0, 0%, 52%);
  --background-color: hsl(0, 0%, 95%);
  
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text-color);
  font-size: var(--font-size);
}

body {
  padding-top: 12rem;
  background-color: var(--background-color);
  overflow-x: hidden;
  transition: background-color linear 0.4s;
}

.element-color {
  background-color: var(--color-elements);
  transition: background-color linear 0.6s;
}


.box-shadow {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.border-radius {
  border-radius: 0.5rem;
}

.input-focus {
  &:focus-within {
    border: 2px var(--text-color) solid;
  }
}

.button {
  @extend .element-color, .input-focus;
  border: none;
  
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--input-text);
    color: var(--background-color);
  }
}

@import "./country";
@import "./detail";
@import "./home";
@import "./mode";
