#header {
  position: fixed;
  width: 100vw;
  height: 8rem;

  padding: 1.4rem 4rem;
  font-size: 1.8rem;
  background-color: var(--color-elements);
  margin-bottom: 4rem;

  z-index: 10;
  top: 0;
}

#search__section {
  padding: 0 2rem;

  .search__country__form {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    background-color: var(--color-elements);
  }

  .search__submit {
    @extend .input-focus;
    height: 3.4rem;
    border: none;
    padding: 0.6rem 1.4rem;
    margin-right: 0.4rem;
    background-color: var(--color-elements);
    cursor: pointer;
    
    .submit__icon {
      height: 100%;
    }
  }

  .search__input__block {
    width: 100%;
    border: none;

    .search__input {
      @extend .input-focus;
      width: 100%;
      height: 4rem;
      border: none;
      padding: 0 1rem;
      color: var(--input-text);
      background-color: var(--color-elements);
    }

    .error {
      &::-webkit-input-placeholder {
        color: rgb(223, 95, 95);
      }
      &::-moz-placeholder {
        color: rgb(223, 95, 95);
      }
      &:-moz-placeholder {
        color: rgb(223, 95, 95);
      }

      &:focus {
        border: 1px solid red;
      }
    }
  }

  .search__select__region {
    @extend .input-focus;
    height: 4rem;
    width: 60%;
    border: none;
    padding: 0 1.6rem;
    color: var(--input-text);
    background-color: var(--color-elements);
    cursor: pointer;
  }
}

#result {
  width: 100vw;
  padding: 0 2.4rem;
  padding-top: 6rem;

  #countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 270px));
    justify-content: center;
    gap: 2.4rem;

    list-style: none;
  }

  .preview {
    width: 100%;
    background-color: var(--color-elements);
  }

  .preview__content {
    @extend .box-shadow, .border-radius;
    height: 100%;

    .flag__container {
      @extend .border-radius;
      height: 18rem;
    }

    .preview__flag {
      height: 100%;
      width: 100%;
      border-radius: 0.8rem 0.8rem 0 0;
    }
  }

  .preview__button {
    cursor: pointer;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: none;
    background-color: transparent;

    &:focus-within .country__content {
      border: 2px var(--text-color) solid;
      border-radius: 1rem;
    }
  }

  #page {
    display: none;
    margin: 2rem;
  }

  #page.on {
    display: flex;
    justify-content: space-between;
  }

  #back__page,
  #next__page {
    width: 8rem;
    height: 4rem;
    border: none;
    color: var(--text-color);

    &:disabled {
      opacity: 0.4;
    }
  }
}

#result.off {
  display: none;
}

@media (min-width: 600px) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #search__section {
    display: flex;
    justify-content: space-between;

    .search__country__form {
      width: 40vw;
    }
    .search__select__region {
      width: 18vw;
    }
  }

  #countries {
    flex-direction: row;
  }
}
