* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  --font-size: 62%;
  --color-elements: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --input-text: hsl(0, 0%, 52%);
  --background-color: hsl(0, 0%, 95%);
  
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text-color);
  font-size: var(--font-size);
}

body {
  padding-top: 12rem;
  background-color: var(--background-color);
  overflow-x: hidden;
}

.box-shadow {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.border-radius {
  border-radius: 0.8rem;
}

.input-focus {
  &:focus {
    border: 2px var(--text-color) solid;
  }
}

.button {
  border: none;
  
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);

  padding: 1rem;

  background-color: var(--color-elements);
  cursor: pointer;
}

@import "./country";
@import "./detail";
@import "./home";
@import "./mode";
